html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    height: 100%;
    font-family: "Roboto Light", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    height: 100%;
    display: block;
}

#game-screen {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: 449px;
    width: 400px;
    background: #e9f2ffff;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#player-score-labels {
    background: white;
    margin: 14px 50px 0 50px;
    display: flex;
    flex-direction: column;
}

#p1score, #p2score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid black;
    padding-right: 20px;
}

#p2score { /*I am lazy*/
    border-top: 0;
}

#p1score-number, #p2score-number {
    text-align: right;
}


h2 {
    margin: 5px;
    font-size: 20px;

}

#the-board {
    background-color: #ebf6ff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    height: 307px;
    width: 307px;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    padding: 2px 0 0 2px;
}
.board-field {
    height: 100px;
    width: 100px;
    border: 1px black solid;
    border-collapse: collapse;
}

#reset {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}



